/*banner button*/
#event-button0 {
    height: 50px;
    width: 185px;
    padding-top: 12px;
    font-weight: bold;
    z-index: 10;
    color: white;
    box-shadow: 0px 0px 10px #791715;
    left: 660px;
    position: absolute;
    background-color: #539e35;
    border-color: #539e35;
    -webkit-box-shadow: black 0px 0px 3px 0px;
            box-shadow: black 0px 0px 3px 0px;
    text-shadow: 0px 0px 5px black;
}

#banner-button {
    position: relative;
    top: 450px;
    height: 50px;
    width: 100%;
    text-align: center;
}

.disabled-button {
    background-color: #b03434 !important;
    border-color: #791715 !important;
}

/* formato del programa */

.resumen::before{ 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
  pointer-events: none;
}

.nav-link.active-link {
    color: white;
}

a.nav-link.active-link {
    text-decoration: none;
}

.tablinks.nav-link.tab {
    background-color: white;
}

.tablinks.nav-link.tab:hover{
    background-color: #f5fbff;
}

.margin-bottomed {
    margin-bottom: 40px;
}

.bold{
    font-weight: bold;
}

/* formato de contenido */
.vertical-center{
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
}

body{
    font-family: Lucida Bright,Georgia,serif ;
    overflow-x: hidden;
}

hr{
    height: 1.5px !important;
    background: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
    background: -o-linear-gradient(left, #ccc, #333, #ccc);
    background: linear-gradient(to right, #ccc, #333, #ccc);
}

strong{
    font-size: 50px;
}

.active-25.noticia {
    font-size: 20px;
}

.self-link {
  text-decoration: none;
  color: black;
}

#navbarDropdownMenuLink{
    color: white;
    font-weight: 600;
    text-shadow: 0px 0px 10px black;
}

.nav-link {
    font-weight: 600;
    cursor: pointer;
}

.navbar-brand, .nav-link {
    color: white;
}

.nav-link:hover, .navbar-brand:hover{
    color: white;
    text-shadow: 0px 0px 1px white;
}

.navbar-toggler.card-button {
    border: 4px solid #133a75;
}


#registry-button {
    background-color: #539e35;
    border-color: #539e35;
    width: 180px;
    height: 45px;
    padding: 10px;
    -webkit-box-shadow: black 0px 0px 3px 0px;
            box-shadow: black 0px 0px 3px 0px;
    text-shadow: 0px 0px 5px black;
}

.active-15{
    -webkit-animation: appear15 1.5s forwards;
            animation: appear15 1.5s forwards;
}

.active-25{
    -webkit-animation: appear25 1.75s forwards;
            animation: appear25 1.75s forwards;
}

.active-35{
    -webkit-animation: appear35 1.75s forwards;
            animation: appear35 1.75s forwards;
}

.responsive {
    padding-left: 18.67%;
    padding-right: 18.67%;
    max-width: 3000px;
    margin: 0 auto;
}

#navbarNavDropdown {
    left: 0px;
    top: 60px;
    width: 100%;
}

.header-background{
    color: white;
    padding-left: 5px;
    background-color: rgb(0, 10, 57);
    height: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    background-color: #26509c;
}

.header-background h2, #registro h2{
    font-size: 19px;
}

.navbar-toggler.card-button.collapsed {
    -webkit-box-shadow: 0 0 0 .25rem;
            box-shadow: 0 0 0 .25rem;
}

.navbar-toggler.card-button {
    -webkit-box-shadow: none;
            box-shadow: none;
}

li.margin-bottomed.row {
    margin-bottom: 20px;
}

li, .section-header{
    text-align: left;
}

ul{
    padding-left: 1rem;
}

.no-bullet{
    list-style: none;
}

.yes-bullet{
    display: list-item;
}

#convocatoria {
    font-size: 16px;
}

.section-box{
    font-size: 14px;
    padding-bottom: 30px;
}

.section-header {
    padding-top: 9px;
}

#regbutton {
    margin-top: 30px;
}

.footer-bottom{
    background-color: #070707;
    color: #ece9e8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.margin-bottomed.row.no-bullet.no-margin-bottom {
    margin-bottom: 0px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow-x: hidden;
}

.logo{
    width: 100%;
    max-width: 150px ;
}

.mini-logo {
    margin-top: -8px;
}

.mod {
    font-size: 14px;
}

/* alineaciones de texto */

.justified{
    text-align: justify;
}

.centered{
    text-align: center;
}

.lefted{
    text-align: left;
}

.content {
    margin-top: 60px;
    min-width: 320px;
}

.noticia-header {
    margin-bottom: 30px;
    color: #c12c27;
    font-weight: bold;
    text-shadow: 0px 0px 2px #c12c27;
}

#main-header {
    position: relative;
    height: 630px;
    background-position: left;
    background-color: white;
    color: black;
    background-size: cover;
    padding-bottom: 0;
}

#extension {
    padding-top: 60px;
    text-shadow: 0px 0px 2px black;
}

#front-container {
    height: 591px;
    width: 65rem;
    margin: 0 auto;
    position: relative;
}

#name {
    top: -1.5rem;
    margin-left: 37rem;
    height: 30rem;
    width: 35rem;
    position: absolute;
    background-image: url("/sdc3/img/2x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

#banner{
    width: 100%;
    height: 100%;
    background-image: url("/sdc3/img/banner.png");
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

#gradient {
    height: 87px;
    width: 100%;
    background-color: #26509c;
    position: absolute;
    top: 543px;
    z-index: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logos-top {
    width: 53rem;
    height: 100%;
    margin: 0 auto;
    background-image: url("/sdc3/img/logos-top.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#carousel{
    padding-bottom: 0px;
}

.carousel-inner{
    height: 400px;
}

.carousel-item{
    height: 400px;
}

.carousel-caption{
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    right: 20%;
    left: 20%;
}

.screenreader-text{
    display: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    font-size: 14px;
}

.row.footer-data.footer-end {
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.dark {
    background: #26509c !important;
}

#footer {
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer > .row > .col-12 {
  height: 150px;
}

.bi.bi-caret-right-square-fill {
    margin-top: -4px;
}

/* media queries */

@media only screen and (max-width: 1400px){
  #name {
    top: -0.5rem;
    width: 25rem;
  }
}

@media only screen and (max-width: 1200px){
  .responsive{
    padding-left: 8.67%;
    padding-right: 8.67%;
  }
}

@media only screen and (max-width: 991px){
  #event-button0{
    left: 500px;
  }

  #front-container{
    width: 100%;
  }

  #name{
    margin-left: 27rem;
    top: 9rem;
    width: 20rem;
    height: 16rem;
    background-color: rgba(255,255,255,0.4);
  }

  #logos-top{
    width: 560px;
  }

  #convocatoria{
    font-size: 14px;
  }

  .nav-item {
    border-top: 0.5px solid #4c4d4b;
    text-align: center;
  }
  
  .navbar-nav{
    background-color: #070707;
  }

  #navbarNavDropdown{
    position: fixed;
    width: 100%;
  }

  #navbarDropdownMenuLink{
    font-weight: 400;
  }

  #nav-tabContent {
    padding-top: 20px;
  }

  .nav-link {
    font-weight: 400;
  }

  .header-background{
    width: 100%;
    overflow-x: hidden; 
  }

  .section-header{
    text-align: center;
  }
}

@media only screen and (min-width:  992px){
    .nav-link.active-link{
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        position: relative;
    }
}

@media only screen and (max-width: 767px) {
  #event-button0{
    left: 36%;
  }

  .footer-data.footer-end.container.resonsive.centered.not-full-width {
    font-size: 12px;
  }

  #logos-top{
    width: 560px;
  }

  #front-container{
    width: 100%;
  }

  #hands{
    margin-left: 0;
  }

  #name{
    top: 0%;
    margin-left: 0%;
    height: 60%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
  }

  #iberologo{
    margin-bottom: -15px;
    margin-top: -15px;
  }

  .button-container{
    margin-top: 20px;
    text-align: center;
  }

  .responsive{
    padding-left: 4%;
    padding-right: 4%;
  }
  
  .title{
    font-size: 40px;
  }

  strong{
    font-size: 42px;
  }

  #convocatoria{
    font-size: 13px;
  }

  .section-box{
    font-size: 12px;
  }

  .section-header{
    margin-bottom: 0px;
  }

  .margin-bottomed{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {

  .active-25.noticia {
    font-size: 16px;
  }

  #logos-top{
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  #banner-button {
    top: 414px;
    left: -5px;
  }

  #event-button0 {
    left: 0px;
    position: relative;
  } 

  #name{
    height: 280px;
  }

  .title{
    font-size: 36px;
  }

  .logo{
    max-width: 150px;
  }

  strong{
    font-size: 40px;
  }

  #convocatoria{
    font-size: 12px;
  }

  .header-background h2, #registro h2 {
    font-size: 18px;
  }

  .header-background{
    padding-left: 0px;
  }
}
      
@media only screen and (max-width: 400px) {
  #name{
    height: 220px;
  }

  #banner-button {
    top: 275px;
  }

  #logos-top{
    width: 300px;
  }
}

@keyframes brightness{
   0%{
        -webkit-filter: brightness(1.3);
                filter: brightness(1.3);
    }
    50%{
        -webkit-filter: brightness(0.8);
                filter: brightness(0.8);
    }

    100%{
        -webkit-filter: brightness(1.3);
                filter: brightness(1.3);
    }
}

@keyframes appear15{
    0%{
        opacity: 0%;
    }
    20%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes appear25{
    0%{
        opacity: 0;
    }
    33%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

@keyframes appear35{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
